.whole-content {
  width: 1450px;
  margin: auto;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7.5px solid rgb(30, 31, 124);
  max-width: 650px;
  max-height: 60px;
  margin: auto;
  margin-top: 10px;
}

.title-content {
    font-size: 38px;
    margin: 17px 0;
}

.select-box {
  display: flex;
  justify-content: center;
}

.select-content {
    font-size: 30px;
    margin: 25px 0;
}

.territory-selector {
  display: flex;
  justify-content: center;
  max-width: 200px;
  flex-wrap: wrap;
  margin: auto;
}

.territories {
    font-size: 25px;
    margin: 20px 0;
}




















/* 
@media screen and (max-width: 480px) {
} */
